.imagem-ingredientes {
    display:flex;
    width: 250px;
    margin: 20px;
    border: 2px solid rgba(246, 58, 1, 0.883);
    box-shadow: 4px 5px 15px rgba(218, 19, 19, 0.678);
    flex-direction: column;
    background-color: rgba(246, 0, 0, 0.308);
}

.paragraph {
   display:flex;
   color: black;
   font-style: italic;
   font-family: fantasy;
   font-size: 30px;
   margin-top: 40px;
   flex-direction: row;
    align-items: center;
}

