* {
  margin: 0;
  padding: 0;
}

.titleLogin {
  font-family: sans-serif , Roboto;
  font-size: 39px;
  height: 46px;
  margin-left: 128px;
  margin-top: 79px;
}

.inputEmail {
  background: transparent;
  border: none;
  border-bottom: 3px solid black;
  color: white;
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
  height: 58px;
  margin-left: 31px;
  margin-top: 30px;
  width: 293px; 
}

.inputEmail::placeholder {
  color: white;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.picture {
  margin-left: 80px;
  margin-top: 10px;
  width: 200px;
}

.inputPassword {
  background: transparent;
  border:none;
  border-bottom: 3px solid black;
  color: white;
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
  height: 58px;
  margin-left: 31px;
  margin-top: 30px;
  width: 293px;
  
}

.inputPassword::placeholder {
  color: white;
}

.btnLogin {
  background: black;
  border: 3px solid rgb(212, 12, 12);
  border-radius: 10px;
  color: white;
  font-size: 25px;
  margin-left: 80px;
  margin-top: 60px;
  width: 200px;
}

.login {
  background-image: url(../images/background.png);
  min-height: 100vh;
  position: absolute;
  z-index: -1;
}
